<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="../archivoStyle/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body id="app">
    <header>
        <nav class="navbar">
            <a href="./home.html"><img src="../RecursosExt/valorant-logo-freelogovectors.net_.png" alt=""></a>
        </nav>
    </header>
    <div class="content">
        <iframe width="100%" height="415"
          src="https://www.youtube.com/embed/e_E9W2vsRbQ?autoplay=1&loop=1&playlist=e_E9W2vsRbQ&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    <div class="menu-total left-0-menu-total">
        <div class="menu-desplegable left-0-menu">
            <a class="nav-link ov-btn-slide-left text-light" href="./home.html"><img src="../RecursosExt/1-removebg-preview.png" alt="" class="logos-menu">Home</a>
            <a class="nav-link ov-btn-slide-left text-light" href="#"><img src="../RecursosExt/2-removebg-preview.png" alt="" class="logos-menu">Personajes</a>
            <a class="nav-link ov-btn-slide-left text-light" href="./mapas.html"><img src="../RecursosExt/3-removebg-preview.png" alt="" class="logos-menu">Mapas</a>
            <a class="nav-link ov-btn-slide-left text-light" href="./armas.html"><img src="../RecursosExt/4-removebg-preview.png" alt="" class="logos-menu">Armas</a>
            <a class="nav-link ov-btn-slide-left text-light" href="./stats2.html"><img src="../RecursosExt/5-removebg-preview.png" alt="" class="logos-menu">Rangos</a>
            <a class="nav-link ov-btn-slide-left text-light" href="#"><img src="../RecursosExt/6-removebg-preview.png" alt="" class="logos-menu">Gamemodes</a>
        </div>
        <button class="text-light lista-desplegable">⮞</button>
    </div>

    <main id="store">
        <div class="particlesContainer">
            <div class="bubbles">
                <span style="--i:11"></span>
                <span style="--i:4"></span>
                <span style="--i:5"></span>
                <span style="--i:16"></span>
                <span style="--i:9"></span>
                <span style="--i:8"></span>
                <span style="--i:3"></span>
                <span style="--i:11"></span>
                <span style="--i:17"></span>
                <span style="--i:7"></span>
                <span style="--i:10"></span>
                <span style="--i:12"></span>
                <span style="--i:8"></span>
                <span style="--i:3"></span>
                <span style="--i:11"></span>
                <span style="--i:3"></span>
                <span style="--i:14"></span>
                <span style="--i:5"></span>
                <span style="--i:5"></span>
                <span style="--i:8"></span>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="d-flex flex-md-column justify-content-center w-100 mb-4">
                    <form class="d-sm-flex flex-column flex-md-row gap-2 w-75 mx-auto" role="search">
                        <input v-model="textoBuscar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @input="filtroBuscar">
                        <div class="d-flex justify-content-center my-1" id="divRadios">
                            <input type="radio" class="btn-check" name="filtroRadio" id="ascendente" value="ascendente" autocomplete="off" checked @click="filtrar()">
                            <input type="radio" class="btn-check" name="filtroRadio" id="descendente" value="descendente" autocomplete="off" @click="filtrar()">
                        </div>
                        <select class="form-select" id="filtroSelect" @change="filtrar" aria-label="Default select example">
                            <option selected value="none">Select</option>
                            <option value="name">Name</option>
                            <option value="price">Price (more expensive to cheaper)</option>
                        </select>
                    </form>
                </div>

                <div class="d-flex flex-wrap justify-content-center">
                    <div v-if="ListaProductos.length == 0">
                        <div class="alert alert-danger mt-3 d-block d-flex justify-content-center align-items-center flex-column text-center" role="alert">
                            There were no coincidences!
                            <img src="../RecursosExt/th.jpeg">
                        </div>
                    </div>

                    <div v-for="producto of ListaProductos" class="m-4">
                        <div class="card h-15" style="width: 13rem">
                            <img :src="producto.image" class="card-img-top h-50 object-fit-cover" :alt="producto.name" />
                            <div class="card-body h-50 d-flex flex-column align-items-center justify-content-center">
                                <h5 class="card-title text-center">{{producto.name}}</h5>
                                <p class="card-text text-decoration-underline">
                                    💲{{producto.price}}
                                </p>
                                <div class="d-flex justify-content-between w-75">
                                    <button type="button" class="btn btn-primary btn2" data-bs-toggle="modal" :data-bs-target="'#exampleModal'+producto.id">
                                        Details
                                    </button>

                                    <div class="modal fade" :id="'exampleModal'+producto.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{producto.name}}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="w-100 d-flex flex-column align-items-center">
                                                        <img class="object-fit-cover w-75" :src="producto.image" alt="">
                                                        <p class="text-center">💲{{producto.price}}</p>
                                                        <p class="text-center">{{producto.description}}</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button v-if="producto.toBuy == false" class="btn d-flex justify-content-center btn-primary" @click="toBuy(producto)">
                                                        Save
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                                            <path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-38.5T218-370l43-81-145-289H40Z"/>
                                                        </svg>
                                                    </button>
                                                    <button v-if="producto.toBuy == true" class="btn d-flex justify-content-center btn-danger" @click="toBuy(producto)">
                                                        Quit
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                                            <path d="M640-120 480-280l-160 160-56-56 160-160-160-160 56-56 160 160 160-160 56 56-160 160 160 160-56 56ZM120-480v-80h360v80H120Zm440 0v-80h280v80H560Z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button v-if="producto.toBuy == false" class="btn d-flex justify-content-center btn-primary mt-2 w-100" @click="toBuy(producto)">
                                    Save
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-38.5T218-370l43-81-145-289H40Z"/>
                                    </svg>
                                </button>
                                <button v-if="producto.toBuy == true" class="btn d-flex justify-content-center btn-danger mt-2 w-100" @click="toBuy(producto)">
                                    Quit
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M640-120 480-280l-160 160-56-56 160-160-160-160 56-56 160 160 160-160 56 56-160 160 160 160-56 56ZM120-480v-80h360v80H120Zm440 0v-80h280v80H560Z"/>
                                    </svg>
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <h2 class="text-danger m-3">Valorant &copy</h2>
        <ul>
          <li>
            <a href="#">
              <i class="fab fa-facebook-f icon"></i>    </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter icon"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
  
        </ul>
        
        
        
      </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../archivosJS/store.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
