main{

    background-color: #202020;
      display: flex;
      color: white;

      flex-wrap: wrap;

}
body::-webkit-scrollbar {
  width: 10px;             
}

body::-webkit-scrollbar-track {
  background: #333333;    
  padding: 2px;  
}

body::-webkit-scrollbar-thumb {

  background-color: #ee154b;   
  border-radius: 20px;      
  border: 2px solid #de3660;  
}
footer{
  background-color: #333333;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 6rem;

}
nav{
    background-color: #333333;
    border-bottom: 4px solid #ee154b;
    height: 5rem;
    display: flex;
}
.imagenes img{
  transition: all 0.4s;
}
.imagenes img:hover{
  transform: translateY(-8px);
}
nav>a{
  width: 100%;
  text-align: center;
}
.caja-present{
width: 100%;
}
.imagen1{
  width: 100%;
  object-fit: cover;
  height: 70vh;
  z-index: -1;

}
.caja-info{
  width: 100%;
}
.navbar{
    background-color: #333333;
}
#navbarNavDropdown{
    margin-right: 3rem;

}
.despNav{
    color: white;
    padding: 0.5rem;


}
.cajaPer{
  border: 2px solid #ee154b;
  transform: skewX(20deg);
  position: absolute;
  width: 14rem;
  height: 18rem;
  margin-top: 5rem;
  margin-left: 3rem;
  transition: all 0.3s;
}
.pers{
  min-width: 7rem;
  max-width: 20rem;

}
.logos-menu{
  width: 5rem;
  margin-right: 2rem;
}

.articulo{

  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}
.articulo>div{
  min-height: 24rem;
  width: 60%;
  border-radius: 20px;
  background-color: #26232f;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  transition: all 0.3s;
}
.parraP{
  width: 45vw;
  padding: 1rem;
}
.imagenes{
  display: flex;
  flex-wrap: wrap;
  max-width: 40vw;
  min-width: 1vw;
  gap: 1rem;

}
.imagenes img{
  object-fit: cover;
  max-width: 6rem;

  max-height: 12rem;
  transform: skew(-17deg);
  
}
.articulo>div:hover{
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 1px #ee154b;

}
.articulo>div:hover h5{
  color: #ee154b;

}


.articulo>div>h5{
 padding: 1rem;
 width: 100%;
 font-size: 1.5rem;

}
.articulo>div>p{
  padding: 1rem;
  width: 20rem;
 
 }
.despNav>a{
    transition: all 0.3s;
    color: white;
    text-decoration: none;
}
.despNav>a:hover{
    color: #ee154b;
}
.dropdown-menu{
    background-color: #a60000;;
}
.lista-desplegable{
    border: none;
    padding: 0.65rem;
    height: 3rem;
    background-color: #333333;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: inline-block;
    transition: all 0.3s;
    
}
.menu-desplegable{
    background-color: #333333;
    padding: 1rem;
    height: 100%;
    border-right: 4px solid #ee154b;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    transition: all 0.3s;
    align-content: start;

}
.menu-desplegable>a{
    width: 100%;
    padding: 0.8rem;
    border-top:1px solid #444444;
    border-bottom:1px solid #444444;
}
.cartas{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 80vh;
}
.maps{
  max-width: 15rem;

}
.favoritos{
  border: 3px solid gold;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: gold;
  display: flex;
  flex-flow: row wrap;
}
.estrella{
  border: 2px solid gold;
  border-radius: 20px;
  color: gold;
  background-color: #2b2a2a;
}
.cartaMaps h5{
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  transition: all .4s;
}
.cartaMaps{
  padding: 1rem;
  background-color: #2b2a2a;
  margin: 1rem;
  border-radius: 10px;
  transition: all 0.3s;
}
.cartaMaps:hover{
  border: 2px solid #ee154b;
  
}
.cartaMaps:hover .nombreMap{
  background-color: #ee154b;
  
}
.cartaMaps:hover .maps{
  border-right: 2px solid white;
  border-left: 2px solid white;
  
}
.main2{
  min-height: 100vh;
}
.linksCaj{
  width: 100%;
}

.menu-total{

   z-index: 1000;

    display: inline-flex;

    flex-flow: row nowrap;
    left: 0;
    height: 100%;
    align-items: center;
    position: fixed;
    top: -0.2rem;
    transition: all 0.4s;
}

.caja-info{
  display: flex;
  flex-direction: column;
}
h1{
  display: inline;

}
.btn {
    
    padding: 15px 40px;
    border: none;
    outline: none;
    width: 6rem;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 6rem;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300,#ffffff, #ff0048,
      #ff002f, #ffd000, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: 6rem;
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  
  .ov-btn-slide-bottom {
    width: 5rem;
    text-align: center;
    background: #ffffff; /* color de fondo */
    color: #ffffff; /* color de fuente */
    border: 3px solid #be2e46; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-bottom:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-bottom::after {
    content: "";
    background: #ed002770; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-bottom:hover::after {

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-left {
    background: #fff; /* color de fondo */
    color: #ca222a; /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */


    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-left:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-left::after {
    content: "";
    background: #ee154b; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  body.page main {
    margin: 0px;
}
.particlesContainer {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;

}
.bubbles {
    justify-content: space-evenly;
    display: flex;
    position: relative;
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #ad133a61;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #f8003626, 0 0 50px #ff005161, 0 0 100px #d33a1761;
    animation: animate 15s linear infinite;
    animation-duration: calc(205s / var(--i));
}
.bubbles span:nth-child(even) {
    background: #fc01014f;
    box-shadow: 0 0 0 10px #cc0b3834, 0 0 50px #d1097b4f, 0 0 100px #bd0a104f;
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(0.3);
    }
}
@media (max-width: 767px) {
    .bubbles span {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 320px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -83%;
  }
 
}
@media ( min-width: 375px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -71%;
  }

}
@media ( min-width: 425px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -62%;
  }
}
@media ( min-width: 768px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -34.5%;
  }


}
@media ( min-width: 1024px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -26%;
  }

}
@media ( min-width: 1224px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -21%;
  }

}

@media ( min-width: 1440px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -18.5%;
    
  }
  
}
@media ( min-width: 2560px) {
  .menu-total{
    top: 0rem;
  }
  .left-0-menu-total{
    margin-left: -10.6%;
    
  }
  
}

footer ul {
  display: flex;
  margin-top: 2.6rem;
  margin-left: 4.6rem;
  transform: translate(-50%, -50%);
}
nav>a>img{
  width: 10rem;
  margin-top: -10px;
}
footer ul li {
  list-style: none;
}

footer ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

footer ul li a .icon {
  position: relative;
  color: #941c30;
  transition: .5s;
  z-index: 3;
}

footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

footer ul li a:hover:before {
  top: 0;
}

footer ul li:nth-child(1) a:before{
  background: #3b5999;
}

footer ul li:nth-child(2) a:before{
  background: #55acee;
}

footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

